<div id="mainContainer">
  <div class="vidContainer" style="line-height: 100%">
    <p><%= link_to 'Post Lesson', new_lesson_path %></p>
  </div>
  <% @lessons.each do |vid| %>
    <div class="vidContainer">
      <a href="<%= lessons_path %>"><div class="hoverCover">
        <%= vid.title %>
      </div></a>
      <div class="vidEmbed">
      <iframe width="100%" height="100%" src=<%= vid.video_link %> frameborder="0" allowfullscreen></iframe>      </div>
<!--       <button><a style="text-decoration: none" href="/upvote/<%= vid.id %>">UPVOTE</a></button>
 -->    </div>
  <% end %>

</div>
