<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="spacer"></div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :handle %>
    <%= f.text_field :handle %>
  </div>
  <div class="field">
    <%=f.label "Avatar URL" %>
    <%= f.text_field :avatar %>
  </div>
  <div id="picPreview" style="height: 100px; width: 100px; border: 1px solid black; margin: 5px 0px">
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
