<div class="spacer"></div>
<div class="profContent">
  <div class="profPicBox"><img class="profPic" src="<%= @user.avatar %>"></div>
  <img id="staffBrace" src="https://i.imgur.com/nK6UxVi.png">
  <div class="userInfoBox">
    <div><p><b><%= @user.name %></b> (<i>@<%= @user.handle %></i>)</p></div>
    <div><p>&nbsp;&nbsp;&nbsp;&nbsp;<%= @user.title %></p></div>
    <div><p><span style="font-weight: 700">Contact</span> <span style="font-weight: 300"><%= @user.phone %></span></p></div>
    <% if @user.id == current_user.id %>
      <button id="editProf" class="userEditLink"><%= link_to 'Edit', edit_user_path(@user) %></button>
    <% end %>
  </div>
  <div class="spacer"></div>
  <div class="userContributions">
    <div class="userContHeader">Contributions:</div>
    <div class="userContContainer">
      <p style="text-decoration: underline; margin: 10px 0">Uploaded</p>
      <% @user.uploads.each do |vid| %>
        <div class="vidContainer">
        <a href="/lessons/<%= vid.id %>"><div class="hoverCover"></div></a>
      <div class="vidEmbed">
      <iframe width="100%" height="100%" src=<%= vid.video_link %> frameborder="0" allowfullscreen></iframe>      </div>
      </div>
  <% end %>
    </div>
    <div class="userContContainer">
      <p style="text-decoration: underline; margin: 10px 0">Upvoted</p>
      <% @upvoted_by_user.each do |vid| %>
    <div class="vidContainer">
      <a href="/lessons/<%= vid.id %>"><div class="hoverCover"></div></a>
      <div class="vidEmbed">
      <iframe width="100%" height="100%" src=<%= vid.video_link %> frameborder="0" allowfullscreen></iframe>      </div>
      </div>
  <% end %>
    </div>
    <div class="userContContainer">
      <p style="text-decoration: underline; margin: 10px 0">Commented</p>
      <% @commented.each do |vid| %>
    <div class="vidContainer">
      <a href="/lessons/<%= vid.id %>"><div class="hoverCover"></div></a>
      <div class="vidEmbed">
      <iframe width="100%" height="100%" src=<%= vid.video_link %> frameborder="0" allowfullscreen></iframe>      </div>
      </div>
  <% end %>
    </div>
  </div>
</div>
