<div class="pageContainer">
<div class="mainContainer">
  <%= form_for(@lesson) do |f| %>
    <% if @lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@lesson.errors.count, "error") %> prohibited this vid from being saved:</h2>

        <ul>
        <% @lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :Embed_Link %>
      <%= f.text_field :video_link %>
    </div><br>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div><br>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div><br>
    <div class="field">
      <%= f.text_field :all_tags, placeholder: "Tags separated with commas" %>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
</div>
