<!DOCTYPE html>
<html>
<head>
  <title>FullStaff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'skeleton', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700,900' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>

    body {
      padding: 0;
      margin: 0;
      background-color: #ecf0f1;
      font-family: 'Lato', sans-serif;
      height: 100vh;
    }

    header {
      width: 100%;
      height: 50px;
      min-width: 650px;
      position: fixed;
      border: .5px solid black;
      background-color: white;
      z-index: 5;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 3px 6px -4px;
    }

    header div {
      display: flex;
      line-height: 50px;
      margin: 0 5px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    #userNav {
      float: right;
    }

    .headerIcon {
      height: 40px;
      width: 40px;
    }

    .headerIcon img {
      position: absolute
    }

    #userIconBox {
      height: 35px;
      width: 35px;
      border: 1px solid black;
      background-size: 100% 100%;
      z-index: 10;
     }

    #userIcon {
      height: 35px;
      width: 35px;
      z-index: 11;
    }

    #navPopUp {
      height: 50px;
      width: 200px;
      background-color: white;
      border: 1px solid black;
      position: absolute;
      z-index: 6;
      top: 300px;
    }

    .spacer {
      height: 50px;
    }

    #frontPageContainer {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }

/*    #frontPageContainer div {
      margin: auto;
    }*/

    .frontPageColumn {
      text-align: center;
    }

    #tagsCloud{
      text-align: center;
      background-color: white;
      margin-top: 50px;
      border-radius: 5px;
      box-shadow: 1px 3px 6px -4px;
    }

    #tagsContainer {
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding-bottom: 20px;
    }

    #adCloud {
      text-align: center;
      float: right;
      background-color: white;
      margin-top: 50px;
      border-radius: 5px;
      box-shadow: 1px 3px 6px -4px;
      height: 0px;
    }

    @media all and (min-width: 1050px) {
      #frontPageContainer {flex-direction: row;}
      #tagsCloud {order: 1; width: 150px; height: 600px;}
      .mainContainer {order: 2;}
      #adCloud {order: 3; width: 150px; height: 600px;}

      #tagsContainer {flex-direction: column;}
    }

    #ad {
      width: 100%;
      height: 100%;
    }

    .mainContainer {
      text-align: center;
      height: 100%;
      max-width: 750px;
      flex: 2;
      margin: auto;
    }
    .lessonContainer iframe {
      display: block;
      margin: 0 auto;
    }

    #featuredContainer {
      width: 80%;
      height: 338px;
      position: relative;
      margin: 0 auto;
    }

    #thumbContainer {
      display: flex;
      flex-flow: row wrap;
      z-index: 0;
      align-content: flex-start;
      margin: auto;
      /*justify-content: center;*/
    }

    .vidContainer {
      width: 125px;
      height: 125px;
      text-align: center;
      position: relative;
      margin: 0;
    }

    .vidContainer iframe {
      margin: 0;
    }

    .hoverCover {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      color: white;
      line-height: 100%;
      vertical-align: middle;
    }
    .hoverCover:hover {
      opacity: .2;
    }

    #addLesson img {
      width: 60%;
      height: 60%;
      margin-top: 50%;
      transform: translate(0, -50%);
    }

    #searchBar {
      position: absolute;
      height: 30px;
      bottom: 8px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    #searchBar input {
      border: none;
      border-left: 1px solid black;
      border-bottom: 3px solid black;
      padding-left: 10px;
      padding-right: 20px;
    }

    .profContent {
      width: 700px;
      margin: 0 auto;
      position: relative;
    }
    .profPicBox {
      display: inline-block;
      height: 150px;
      width: 150px;
      border: 1px solid black;
      background: white;
    }
    .userInfoBox {
      display: inline-block;
      height: 150px;
      width: 450px;
      font-size: 20px;
      margin-left: 30px;
      position: absolute;
    }
    .userInfoBox p {
      height: 33%;
      margin-left: -20px;
      padding: 0;
    }
    .profPic {
      width: 100%;
      height: 100%;
    }

    .userEditLink {
      position: absolute;
      font-size: 20px;
      left: 100%;
      right: -100px;
      top: 0px;
    }

    .userContributions{
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }
    .userContHeader {
      text-align: center;
      border: 1px solid black;
      width: 100%;
      background: white;
    }
    .userContContainer {
      display: flex;
      flex-direction: column;
      width: 150px;
      text-align: center;
      font-weight: 300;
    }
    .userContContainer div {
      width: 100%;
    }

    .profEdit {
      font-size: 20px;
      display: inline
    }

    .profEditField1 {
      width: 30%;
    }
    .profEditField2 {
      width: 80%;
    }

    #lessonContentText {
      text-align: 0px;
      position: relative
    }

    #lessonContentText div {
      padding: 10px;
    }
    #lessonContentText form {
      border-left: 1px solid black;
    }

    .lessonContainer {
      height: 100%;
      text-align: left;
      border: none;
      height: 100%
    }

    #upvote {
      position: absolute;
      right: 0px;
      top: 12.5px;
    }

    #userName {
      width: 700px;
    }
    #userName p {
      display: inline-block;
      margin: 0;
    }
    #userName div {
      padding: 0px;
      height: 30px;
      width: 30px;
      font-family: Ubuntu-light
    }
    #userName img {
      width: 100%;
      height: 100%;
    }
    #lessonDescription {
      border: none;
      background: white;
      margin: 10px 0 10px 0;
      padding: 10px;
      border-radius: 3px
    }
    .comment #content {
      background: white;
      border-radius: 3px
    }
    .comment_form {
      border: 0px;
    }
    #lessonTags {
      border-bottom: 3px solid black;
      margin: 0;
      padding: none;
    }
    #lessonTags span {
      font-weight: 300;
    }
    .comment_form {
      border: none;
    }

    #staffBrace {
      height: 150px;
      margin-left: 20px
    }


  </style>

</head>

<header>
  <a href="<%= root_path %>"><div id="logo">
    <img style="width: 156px; height: 40px; margin-top: 2px; margin-left: 10px" src="https://i.imgur.com/wezg1nl.png">
  </div></a>
  <div id="searchBar"><input placeholder="search"></div>
  <div id="userNav">
    <% if current_user %>
      <div><%= link_to 'Logout', session_path('thang'), method: :delete %></div>
      <div class=".headerIcon" id="notifications"><img style="height: 25px; width: 25px" src="https://i.imgur.com/bnIDT5p.png"></div>
      <div class=".headerIcon" id="settings"><img style="height: 25px; width: 25px" src="https://i.imgur.com/wBQwSdr.png"></div>
      <a href="/users/<%= current_user.id %>"><div id="userIconBox" class="headerIcon"><img id="userIcon" src="<%= current_user.avatar %>"></div></a>
    <% else %>
      <%= link_to 'Login', login_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
  </div>
</header>

<body>
<div class="spacer"></div>
<%= yield %>

</body>

<script>

</script>

</html>
