<!DOCTYPE html>
<html>
<head>
  <title>FullStaff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'normalize', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,700,900' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style>

    body {
      padding: 0;
      margin: 0;
      background-color: #ecf0f1;
      font-family: 'Lato', sans-serif;
      height: 100vh;
    }

    header {
      width: 100%;
      height: 50px;
      position: fixed;
      border: .5px solid black;
      background-color: white;
      z-index: 5;
      display: flex;
      justify-content: space-between;
      box-shadow: 0px 3px 6px -4px;
    }

    @media screen and (max-width: 640px) {
      #searchBar {
        display: none;
      }
    }

    header div {
      display: flex;
      line-height: 50px;
      margin: 0 5px;
    }

    a {
      text-decoration: none;
      color: black;
    }

    #userNav {
      display: flex;
      justify-content: space-around;
      height: 100%;
    }

    #userNav a, #userNav div {
      /*height: 100%;*/
      display: flex;
      margin: auto 2.5px
    }

    .headerIcon {
      height: 40px;
      width: 40px;
      position: relative;
    }

    .headerIcon img {
      width: 15px;
      height: 15px;
    }

    #userIconBox {
      height: 35px;
      width: 35px;
      border: 1px solid black;
      background-size: 100% 100%;
      z-index: 10;
    }

    #userIcon {
      height: 35px;
      width: 35px;
      z-index: 11;
    }

    #navPopUp {
      height: 50px;
      width: 200px;
      background-color: white;
      border: 1px solid black;
      position: absolute;
      z-index: 6;
      top: 300px;
    }

    .spacer {
      height: 50px;
    }

    #frontPageContainer {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      width: 90vw;
      margin: 0 auto;
    }

    .frontPageColumn {
      text-align: center;
    }

    #tagsCloud{
      text-align: center;
      background-color: white;
      margin: 50px auto;
      border-radius: 5px;
      box-shadow: 1px 3px 6px -4px;
      width: 90vw;
    }

    #tagsContainer {
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding-bottom: 20px;
    }

    #adCloud {
      text-align: center;
      float: right;
      background-color: white;
      margin-top: 50px;
      border-radius: 5px;
      box-shadow: 1px 3px 6px -4px;
      height: 0px;
    }

    @media all and (min-width: 1050px) {
      #frontPageContainer {flex-direction: row;}
      #tagsCloud {order: 1; width: 150px; height: 600px; margin: 50px 0;}
      .mainContainer {order: 2;}
      #adCloud {order: 3; width: 150px; height: 600px;}

      #tagsContainer {flex-direction: column;}

      #searchPageContainer {flex-direction: row;}
    }

    #ad {
      width: 100%;
      height: 100%;
    }

    .mainContainer {
      text-align: center;
      height: 100%;
      max-width: 750px;
      flex: 2;
      margin: auto;
    }
    .lessonContainer iframe {
      display: block;
      margin: 0 auto;
    }

    #featuredContainer {
      width: 90vw;
      height: 51vw;
      max-width: 600px;
      max-height: 338px;
      position: relative;
      margin: 0 auto;
    }

    #thumbContainer {
      width: 100%;
    }

    #thumbs {
      display: flex;
      flex-flow: row wrap;
      z-index: 0;
      align-content: flex-start;
      margin: auto;
    }

    .vidContainer {
      max-width: 125px;
      max-height: 125px;
      height: 18vw;
      width: 18vw;
      text-align: center;
      position: relative;
      margin: 0;
    }

    .vidContainer iframe {
      margin: 0;
      width: 100%;
      max-width: 125px;
      height: 100%;
      max-height: 125px;
    }

    .hoverCover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      color: white;
      line-height: 100%;
      vertical-align: middle;
    }
    .hoverCover:hover {
      opacity: .2;
    }

    #addLesson img {
      width: 60%;
      height: 60%;
      margin-top: 50%;
      transform: translate(0, -50%);
    }

    #searchBar {
      position: absolute;
      height: 30px;
      bottom: 8px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    #searchBar input {
      border: none;
      border-left: 1px solid black;
      border-bottom: 3px solid black;
      padding-left: 10px;
      padding-right: 20px;
    }

    #searchPageContainer {
      display: flex;
      flex-direction: column;
    }

    .profContent {
      width: 90vw;
      margin: 0 auto;
      position: relative;
    }

    .profHeaderBox {
      display: flex;
      width: 90vw;
      height: 20vw;
      max-height: 150px;
      max-width: 600px;
      justify-content: space-around;
      position: relative;
    }
    .profPicBox {
      display: inline-block;
      height: 20vw;
      max-height: 150px;
      width: 20vw;
      max-width: 150px;
      border: 1px solid black;
      background: white;
      position: relative;
      order: 1;
    }
    .profPic {
      width: 100%;
      height: 100%;
    }
    .profPicBox a {
      width: 100%;
      text-align: center;
      position: absolute;
    }
    .profPicBox input[type=submit] {
      border: none;
      width: 100%;
      text-align: center;
      position: absolute;
      padding: 0;
    }
    #staffBrace {
      height: 100%;
      width: 4%;
      order: 2;
    }
    .userInfoBox {
      height: 20vw;
      max-height: 150px;
      width: 65vw;
      max-width: 450px;
      font-size: calc(12px + 1vw);
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      order: 3;
    }

    .profEdit {
      font-size: 20px;
      display: flex;
      flex-flow: row wrap;
    }

    .profEditField {
      display: flex;
      justify-content: left;
    }

    .profEdit:nth-child(1), .profEdit:nth-child(2) {
      width: 50%;
    }
    .profEdit:nth-child(1) input, .profEdit:nth-child(2) input {
      max-width: 150px;
    }

    .profEditField input {
      max-width: 300px;
    }

    .userContributions{
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
    }
    .userContHeader {
      text-align: center;
      border: 1px solid black;
      width: 100%;
      background: white;
    }
    .userContContainer {
      display: flex;
      flex-direction: column;
      width: 15vw;
      text-align: center;
      font-weight: 300;
    }
    .userContContainer div {
      width: 100%;
      margin: 0 auto;
    }

    #lessonContentText {
      text-align: 0px;
      position: relative;
    }


    .commentHeader {
      padding: 0;
      display: flex;
    }

    .commentHeader span {
      margin: auto 0;
    }

    .commentHeader a {
      margin: auto 0;
    }

    .lessonContainer {
      height: 100%;
      text-align: left;
      border: none;
      height: 100%
    }

    #lessonContentText form {
      border-left: 1px solid black;
    }

    #upvote {
      position: absolute;
      right: 0px;
      top: 12.5px;
    }

    #lessonFooter {
      /*margin-bottom: 50px*/
    }

    #lessonDetailsHeader {
      display: flex;
    }
    #lessonDetailsHeader div {
      margin: auto 0;
    }

    #lessonUser {
      display: flex;
    }

    #lessonUserIcon {
      width: 35px;
      height: 35px;
      background: white;
      position: relative
    }
    #lessonUserIcon img {
      width: 100%;
      height: 100%;
    }

    #lessonDescription {
      border: none;
      background: white;
      margin: 10px 0 10px 0;
      padding: 10px;
      border-radius: 3px
    }
    #comment_content {
      background: white;
      border-radius: 3px;
      width: 100%;
      resize: none;
    }
    .comment_form {
      /*border: 0px;*/
    }
    #lessonTags {
      border-bottom: 3px solid black;
      margin: 0;
      padding: none;
    }
    #lessonTags span {
      font-weight: 300;
    }

    .comment {
      margin-bottom: 20px
    }
    .commentHeader div {
      margin: auto 0;
    }
    .commentUser {
      display: flex;
    }
    .commentUserIcon {
      width: 35px;
      height: 35px;
      background: white;
      position: relative;
      margin: auto
    }
    .commentUserIcon img {
      width: 100%;
      height: 100%;
    }
    .commentUserName {
      margin: auto;
    }
    .commentContent {
      font-weight: 300;
    }

  </style>

</head>

<header>
  <a href="<%= root_path %>"><div id="logo">
    <img style="width: 156px; height: 40px; margin-top: 2px; margin-left: 10px" src="https://i.imgur.com/wezg1nl.png">
  </div></a>
  <div id="searchBar"><input placeholder="search"></div>
  <div id="userNav">
    <% if current_user %>
      <div><%= link_to 'Logout', session_path('thang'), method: :delete %></div>
      <div class=".headerIcon" id="notifications"><img style="height: 25px; width: 25px" src="https://i.imgur.com/bnIDT5p.png"></div>
      <div class=".headerIcon" id="settings"><img style="height: 25px; width: 25px" src="https://i.imgur.com/wBQwSdr.png"></div>
      <a href="/users/<%= current_user.id %>"><div id="userIconBox" class="headerIcon"><img id="userIcon" src="<%= current_user.avatar %>"></div></a>
    <% else %>
      <%= link_to 'Login', login_path %>
      &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to 'Sign Up', new_user_path %>
    <% end %>
  </div>
</header>

<body>
<div class="spacer"></div>
<%= yield %>

</body>

<script>

</script>

</html>
